      <footer class='text-center'>
          <a href='https://github.com/daniellzl/voting-application'>GitHub</a>
      </footer>
    </div>
    <script type="text/javascript" src="/scripts/scripts.js"></script>
  </body>
</html>
